
<link rel="stylesheet" href="/static/style/titlebar.css">

<div class="titlebar">
    <div class="currency_box">
        <img class="currency_icon" src="/static/Assets/gold.png" alt="">
        <div class="currency_states">
            <h1 class="currency_text">Gold</h1>

            <h1 class="currency_text" id="gold"> {{ gold }} </h1>
        </div>
    </div>
    <div class="currency_box">
        <img class="currency_icon" id="signs_of_honor" src="/static/Assets/signs_of_honor.png" alt="">
        <div class="currency_states">
            <h1 class="currency_text">Signs of Honor</h1>
            <h1 class="currency_text" id="signs_of_honor">0</h1>
        </div>
    </div>
</div>