
<link rel="stylesheet" href="/static/style/titlebar.css">

<div class="titlebar">
    <div class="currency_box">
        <img class="currency_icon" id="gold" src="/static/assets/gold.png" alt="">
        <div class="currency_states">
            <h1 class="currency_text">Gold</h1>
            <h1 class="currency_text">999,999,999,999</h1>
        </div>
    </div>
    <div class="currency_box">
        <img class="currency_icon" id="signs_of_honor" src="/static/assets/signs_of_honor.png" alt="">
        <div class="currency_states">
            <h1 class="currency_text">Signs of Honor</h1>
            <h1 class="currency_text">999,999,999,999</h1>
        </div>
    </div>
</div>